{% extends "new/../base.html" %}

{% block staticfiles %}

{% endblock %}

{% block body %}
<div>
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        {{ form.uid }}
        <div>
            {{ form.lab_id.label }}:{{ form.lab_id }}{{ form.lab_id.errors }}
        </div>
        <div>
            <div>
                {{ form.begin_date.label }}:{{ form.begin_date }}{{ form.begin_date.errors }}
            </div>
            <div>
                {{ form.begin_time.label }}:{{ form.begin_time }}{{ form.begin_time.errors }}
            </div>
        </div>

        <div>
            <div>
                {{ form.end_date.label }}:{{ form.end_date }}{{ form.end_date.errors }}
            </div>
            <div>
                {{ form.end_time.label }}:{{ form.end_time }}{{ form.end_time.errors }}
            </div>
        </div>

        <div>
            {{ form.week_day.label }}:{{ form.week_day }}{{ form.week_day.errors }}
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
</div>

{% endblock %}