select {
    width: 200px;
}

#header {
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-top: -30px;
    height: 2.5%;
    background-color: #e2e5e7;
}

.in_header {
    z-index: 1;
    position: fixed;
    margin-top: -5px;
}

#body {
    margin-top: 2.5%;
}

.navigator {
    z-index: 1;
    position: fixed;
    height: 400px;
    width: 10%;
}

#content {
    margin-left: 12.5%;
}

#change_dialog label {
    width: 100px;
}

.no_display {
    display: none;
}

.w200px {
    width: 200px;
}

.w72px {
    width: 72px;
}