{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
{% extends "base.html" %}
{% block staticfiles %}
    <link rel="stylesheet" href="/static/css/jquery.cxcalendar.css">

{% endblock %}
{% block body %}
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panel1a">学生</a>
            <div id="panel1a" class="content active">
                <ul class="tabs nice" data-tab role="tablist">
                    <li class="tab-title active" role="presentational" >
                        <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">单人添加</a>
                    </li>
                    <li class="tab-title" role="presentational" >
                        <a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">批量添加</a>
                    </li>
                </ul>
    <form action="" method="post">{% csrf_token %}
    <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 center columns">
                        <button class="button prefix">学号</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="njuid">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">姓名</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="name">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">密码</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="password">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">卡号</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="id">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">院系</button>
                    </div>
                    <div class="small-2 columns left">
                        <select id="dep-choose" name="dep-choose" class="medium">
                            <option value="" selected=""></option>
                            <option value="1">电子系</option>
                            <option value="2">计算机科学与技术系</option>
                            <option value="3">数学系</option>
                            <option value="4">化学系</option>
                            <option value="5">物理系</option>
                        </select>
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">年级</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="b2012/b2013/b2014">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-3 columns left">
                        <button class="tiny expand">添加</button>
                    </div>
                </div>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-3 columns left">
                        <p><a id="download" href="">模板下载</a></p>
                        <form id="list_form" enctype="multipart/form-data" method="post" action="">
                            {% csrf_token %}
                            <input type="file" name="user_list"/>
                            <button class="button tiny expand" >提交</button>
                        </form>

                    </div>
                </div>
            </section>
    </div>

    </form>
    </div>
  </li>

  <li class="accordion-navigation">
      <a href="#panel2a">老师</a>
      <div id="panel2a" class="content">
          <ul class="tabs nice" data-tab role="tablist">
              <li class="tab-title active" role="presentational" >
                  <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">单人添加</a>
              </li>
              <li class="tab-title" role="presentational" >
                  <a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">批量添加</a>
              </li>
          </ul>
    <form action="" method="post">{% csrf_token %}
    <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 center columns">
                        <button class="button prefix">工号</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="njuid">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">姓名</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="name">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">密码</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="password">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">卡号</button>
                    </div>
                    <div class="small-2 columns left">
                        <input type="text" placeholder="id">
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-1 columns">
                        <button class="button prefix">实验中心</button>
                    </div>
                    <div class="small-2 columns left">
                        <select id="lab-choose-openlab" name="lab-choose" class="medium">
                            <option value="" selected=""></option>
                            <option value="lab-a">实验楼A</option>
                            <option value="lab-b">实验楼B</option>
                            <option value="lab-c">实验楼C</option>
                            <option value="lab-d">实验楼D</option>
                            <option value="lab-e">实验楼E</option>
                        </select>
                    </div>
                </div>
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-3 columns left">
                        <button class="button prefix expand">添加</button>
                    </div>
                </div>
            </section>

            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                <div class="row collapse prefix-round">
                    <div class="small-1 center columns"></div>
                    <div class="small-3 columns left">
                        <p><a id="download" href="">模板下载</a></p>
                        <form id="list_form" enctype="multipart/form-data" method="post" action="">
                            {% csrf_token %}
                            <input type="file" name="user_list"/>
                            <button class="button tiny expand">提交</button>
                        </form>
                    </div>
                </div>
            </section>
    </div>

    </form>
    </div>
  </li>
</ul>

    <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
{% endblock %}
