<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>实验室管理系统</title>
    {% load staticfiles %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/delete.js" %}"></script>
    <script src="{% static "js/ajax_handler.js" %}"></script>
    <script src="{% static "js/form_utility.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.structure.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.theme.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
    <script>

        var table_add_class = function () {
            $('table').addClass('ui-widget');
            $('td').addClass('ui-widget-content');
            $('th').addClass('ui-widget-header');
        };

        $(document).ready(function () {
            $('.menu').menu();
            $('.button').button();
            table_add_class();
            $('input[type="button"]').button();
            $('select').selectmenu();
            $('input[type="date"]').attr("required", "true");
            $('input[type="text"]').attr("required", "true");
        });
    </script>
    {% block staticfiles %}{% endblock %}
</head>
<body>
{% if perm_list %}
    <div id="header">
        <p class="in_header">姓名：{{ uname }} 身份：
            {% for id in identity %}
                {% if forloop.first %}
                    {{ id }}
                {% else %}
                    /{{ id }}
                {% endif %}
            {% endfor %}
            当前{{ week }}
        </p>
    </div>
{% endif %}
<div id="body">
{% csrf_token %}
    {% if perm_list %}
<div class="navigator">
    <ul class="menu">
    {% for perm in perm_list %}
        <li><a href={{ perm.url }}>{{ perm.pname }}</a></li>
    {% endfor %}
    </ul>
</div>
    {% endif %}
    <div id="content">
{% block body %}{% endblock %}
    </div>
</div>
</body>
</html>