{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>实验室管理系统</title>
    {% load staticfiles %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/delete.js" %}"></script>
    <script src="{% static "js/ajax_handler.js" %}"></script>
    <script src="{% static "js/form_utility.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    {#    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.css" %}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.structure.css" %}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="{% static "theme/jquery-ui.theme.css" %}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <script>
        var add_no_empty = function () {
            $('input[type="date"]').attr("required", "true");
            $('input[type="text"]').attr("required", "true");
            $('input[type="input"]').attr("required", "true");
        };

        $(document).ready(function () {
            add_no_empty();
            $('.delete').click(function () {
                var $this = $(this);
                do_delete($(this), 'delete/', function () {
                    $this.closest('tr').remove();
                });
            });
        });

    </script>
    {% block staticfiles %}{% endblock %}
</head>
<body>

<nav class="top-bar">
    <div id="logo-img" style="background: url(/static/images/door.png)"></div>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="name">
                <h1>欢迎你，{{ uname }}&nbsp;&nbsp;
                    身份：
                    {% for id in identity %}
                        {% if forloop.first %}
                            {{ id }}
                        {% else %}
                            /{{ id }}
                        {% endif %}
                    {% endfor %}
                    当前:
                    {% if week %}
                        {{ week }}
                    {% else %}
                        在假期内
                    {% endif %}
                </h1>
            </li>
            <li class=""><a href="/logout">退出</a></li>
        </ul>

        <!-- Left Nav Section -->
{#        <ul class="left">#}
{##}
{#            <li class="has-dropdown not-click">#}
{#                <a href="/managers">管理员</a>#}
{#                <ul class="dropdown">#}
{#                    <li><a href="/managers">添加管理员</a></li>#}
{#                    <li><a href="/managers">删除管理员</a></li>#}
{#                    <li><a href="/managers">重置管理员密码</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="has-dropdown not-click">#}
{#                <a href="/lab_center/">实验中心</a>#}
{#                <ul class="dropdown">#}
{#                    <li><a href="/lab_center">添加实验中心</a></li>#}
{#                    <li><a href="/lab_center">删除试验中心</a></li>#}
{#                    <li><a href="/lab_center">试验中心详情（添加实验室）</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="has-dropdown not-click">#}
{#                <a href="/open_lab">开放计划</a>#}
{#                <ul class="dropdown">#}
{#                    <li><a href="/open_lab/open_lab_new">新建计划</a></li>#}
{#                    <li><a href="/open_lab/open_lab_check">审核计划</a></li>#}
{#                    <li><a href="/open_lab/open_lab_mine">我的计划</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class=" not-click">#}
{#                <a href="/set_semster">设置学期</a>#}
{#            </li>#}
{#        </ul>#}
    </section>
</nav>

<div id="body">
    {% csrf_token %}
    {% if perm_list %}
        <div class="navigator">
            <div class="left-tab fixed proper-position">
                <ul class="tabs vertical">
                    {% for perm in perm_list %}
                        <li class="tab-title"><a href={{ perm.url }} aria-selected="false"
                                                 tabindex="-1">{{ perm.pname }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    {% endif %}
    <div id="content">
        <div class="main-part right">
            <div class="row display title-blank">
                <div class="columns medium-12">
                    <div class="columns medium-1 left ">
                        <img class="logo-super" src="/static/images/door.png" alt=""/>
                    </div>
                    <div class="columns medium-10 right">
                        <p class="title-super">南京大学实验室开放预约系统</p>
                    </div>
                </div>
            </div>
            <div class="one-line"></div>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<div class="copy-right">
    Copyright © Nanjing Anchor Electronic Co.Ltd
</div>

</body>
</html>