{% extends "new/base.html" %}

{% block staticfiles %}

    <script>
        $(document).ready(function () {
            $('.delete').click(function () {
                var $this = $(this);
                do_delete($(this), 'delete/', function () {
                    $this.closest('tr').remove();
                });
            });
        });
    </script>

{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>实验中心编号</th>
            <th>实验中心名称</th>
            <th></th>
            <th></th>
        </tr>

        {% for r in lab_center_list %}
            <tr>
                <input class="del_id" type="hidden" value="{{ r.lcid }}"/>
                <td>{{ r.lcid }}</td>
                <td>{{ r.lcname }}</td>
                <td><a class="button" href="{{ r.lcid }}">详情</a></td>
                <td><input type="button" class="button delete" value="删除"/></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}