{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
{% extends "base.html" %}
{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/add2.js" %}"></script>
    <script>

    </script>
{% endblock %}
{% block body %}
  <fieldset>
    <legend>【{{ one_lab_center.lcid }}】{{ one_lab_center.lcname }}</legend>
      <p>请保证编号全局唯一</p>
    <table class="row">
      <thead>
       <tr>
        <th width="20%">编号</th>
        <th width="20%">名称</th>
        <th width="20%">容纳人数</th>
        <th width="20%">删除</th>
      </tr>
    </thead>
    <tbody>
     <tr>
         <form method="post" action="add/" class="one_form">{% csrf_token %}
            <input type="hidden" name="lcid" value="{{ one_lab_center.lcid }}" />
            <td><input type="text" name="lid" placeholder="id"></td>
            <td><input type="text" name="lname" placeholder="name"></td>
            <td><input type="text" name="lnumber" placeholder="number"></td>
            <td><button class="tiny success">增加</button></td>
         </form>
    </tr>
      {% for l in lab_list %}
                <tr>
                    <input type="hidden" class="del_id" value="{{ l.lid }}"/>
                    <input type="hidden" value="{{ l.lid }}"/>
                    <td>{{ l.lid }}</td>
                    <td>{{ l.lname }}</td>
                    <td>{{ l.number }}</td>
                    <td><button class="tiny alert delete">删除</button></td>
                </tr>
      {% endfor %}
    </tbody>
    </table>
  </fieldset>
{% endblock %}
