{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
{% extends "base.html" %}
{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/add2.js" %}"></script>
    <script>
        $(document).ready(function () {

            $('.reset').click(function(){
                var uid = $(this).closest('tr').find('.del_id').val();
                $.ajax({
                    url:'change_password/',
                    data: {
                        uid:uid,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        new_password:0
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        success_handler_g(data, "密码重置成功", false);
                    },
                    error: function () {
                        error_handler_g();
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th width="10%">工号</th>
            <th width="10%">姓名</th>
            <th width="10%">卡号</th>
            <th >试验中心</th>
            <th width="10%">设置新密码</th>
            <th width="10%">删除</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <form class="one_form" action="add/" method="post">
        {% csrf_token %}
            <td><input type="text" name="uid"></td>
            <td><input type="text" name="uname"></td>
            <td><input type="text" name="card_number"></td>
            <td>
                <select id="lab-choose" name="lcid" class="medium">
                    <option value="" selected=""></option>
                    {% for lc in lcs %}
                        <option value="{{ lc.lcid }}">{{ lc.lcname }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="text" name="password"></td>
            <td><button class="tiny success" type="submit">增加</button></td>
{#            <td><input type="submit" class="tiny success" placeholder="New"/></td>#}
        </form>
        </tr>

        {% for r in result %}
            <tr>
                <input type="hidden" class="del_id" value="{{ r.uid }}"/>
                <td>{{ r.uid }}</td>
                <td>{{ r.uname }}</td>
                <td>{{ r.card_number }}</td>
                <td>{{ r.lcname }}</td>
                <td><button class="tiny reset">重置</button></td>
                <td><button class="tiny alert delete">删除</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
