{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
{% extends "base.html" %}
{% block body %}

    <div class="row down">
        <div class="medium-3 columns open-lab-icon">
             <a href="open_lab_new/">
                 <p><span class="icon-file-empty"></span></p>
                 <p>新建计划</p>
             </a>
        </div>
        <div class="medium-3 columns open-lab-icon">
            <a href="open_lab_check/">
                <p><span class="icon-hour-glass2 "></span></p>
                <p>待审核计划</p>
            </a>
        </div>
        <div class="medium-3 left columns open-lab-icon">
            <a href="open_lab_mine/">
                <p><span class="icon-profile "></span></p>
                <p>我的计划</p>
            </a>
        </div>
    </div>
{% endblock %}
