{# authored by ZhaoGuoyan #}
{# 2015.5.4 #}
{% extends "base.html" %}
{% block staticfiles %}
{#    {% load staticfiles %}#}
{#    <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>#}
{#    {% load staticfiles %}#}
{#    <script src="{% static "js/check_open_lab_detail.js" %}"></script>#}
{#    <script src="{% static "js/check_open_lab.js" %}"></script>#}
{#    <script src="{% static "js/check_user_order.js" %}"></script>#}
{% endblock %}
{% block body %}
    <ul class="tabs nice" data-tab role="tablist" data-options="deep_linking:true">
        <li class="tab-title active" role="presentational">
            <a href="#plan" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">开放计划</a>
        </li>
        <li class="tab-title" role="presentational">
            <a href="#stu_app" role="tab" tabindex="0" aria-selected="false" controls="panel2-2">学生预约</a>
        </li>
    </ul>
    <form action="" method="post">{% csrf_token %}
        <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="plan">
                {% if not r %}
                    <p>暂无</p>
                {% else %}
                <table class="row">
                    <thead>
                    <tr>
                        <th>开放计划名称</th>
                        <th>申请人</th>
                        <th>实验中心</th>
                        <th>开放类型</th>
                        <th>计划开始时间</th>
                        <th>计划结束时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for t in r %}
                            <tr>
                                <td>{{ t.olname }}</td>
                                <td>{{ t.uname }}</td>
                                <td>{{ t.lcname }}</td>
                                <td>{{ t.type }}</td>
                                <td>{{ t.begin_date_time }}</td>
                                <td>{{ t.end_date_time }}</td>
                                <td>
                                    <a class="tiny button toModel" data-reveal-id="myModal" data-reveal-ajax="detail/{{ t.olid }}/">详情</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
                     role="dialog">

                    <button type="button" class="tiny success" id="accept">通过</button>
                    <button type="button" class="tiny alert" id="refuse">拒绝</button>
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </section>
            <section role="tabpanel" aria-hidden="true" class="content" id="stu_app">
                <table class="row">
                    <thead>
                    <tr>
                        <th>开放计划名称</th>
                        <th>实验中心</th>
                        <th>实验室</th>
                        <th>申请人学号</th>
                        <th>姓名</th>
                        <th>时间段</th>
                        <th>是否通过</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if my_order_list %}
                    {% load display %}
                    {% else %}
                    <th>暂无</th>
                    {% endif %}
                    </tbody>
                </table>

            </section>
        </div>
    </form>
    <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/static/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    {% load staticfiles %}
    <script src="{% static "js/check_open_lab_detail.js" %}"></script>
    <script src="{% static "js/check_user_order.js" %}"></script>
{% endblock %}
