{% extends "base.html" %}

{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/open_lab.js" %}"></script>
    <style>
        .overflow {
            height: 200px;
        }
    </style>
{% endblock %}

{% block body %}
    <form action="" method="post" class="ui-widget">{% csrf_token %}
        <div style="width: 200px">
    <div>
        <div class="ui-widget-header">
            开放计划名称：
        </div>
        <div>
            <input name="olname" type="input"/>
        </div>
    </div>

    <div>
        <div class="ui-widget-header">
            实验中心：
        </div>
        <div>
            <select name="lcid" id="lcid" value="">
                {% for lc in lc_list %}

                    <option value="{{ lc.lcid }}">{{ lc.lcname }}</option>

                {% endfor %}
            </select>
        </div>
    </div>

    <div>
        <div class="ui-widget-header">
            开放计划类型：
        </div>
        <div>
            <select name="type" id="type">
                <option value="1">单次</option>
                <option value="2">循环</option>
            </select>
        </div>
    </div>
        </div>
    <div>
        <table id="detail_table">
            <tr>
                <th>实验室</th>
                <th>开放日期</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td><input type="button" id="add_button" value="向开放计划中增加一个实验室"/></td>
            </tr>
        </table>
    </div>
    <div>
        <input type="button" id="submit" value="提交"/>
    </div>
</form>
{% endblock %}