{% extends "new/base.html" %}

{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/order_open_lab_detail.js" %}"></script>
{% endblock %}

{% block body %}
    {% load display %}
    {% display_open_lab_body this_open_lab %}
    <table>
        <tr>
            {% display_open_lab_detail_title this_open_lab.type %}
            <th></th>
        </tr>

        {% for detail in this_open_lab_detail_list %}
            <tr>
                {% ifequal this_open_lab.type '单次' %}
                    {% display_open_one_lab_detail detail %}
                    <td><input class="order" type="button" value="预约"/></td>
                {% else %}
                    {% display_circle_open_lab_detail detail %}
                    <td><input class="order_circle" type="button" value="预约"/></td>
                {% endifequal %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}