{% extends "base.html" %}

{% block staticfiles %}
    {% load staticfiles %}
    <script src="{% static "js/check_open_lab_detail.js" %}"></script>
{% endblock %}

{% block body %}
    {% load display %}
    <table>
        <tr>
            {% display_open_lab_title %}
            <th></th>
        </tr>
        {% for n in now_r %}

            <tr>
                {% display_open_lab_in_oneline n %}
                <td><a href="/order_open_lab/detail/{{ n.olid }}">详情</a></td>
            </tr>

        {% endfor %}
    </table>
    {% if prev_r %}
        <a href={{ prev_r }}>上一页</a>
    {% endif %}

    {% if next_r %}
        <a href={{ next_r }}>下一页</a>
    {% endif %}

{% endblock %}