{% extends "base.html" %}

{% block staticfiles %}

    {% load staticfiles %}
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/set_semster.js" %}"></script>
{% endblock %}

{% block body %}

    <form id="semster_submit_form" method="post" action="do/">
        {% csrf_token %}
        <table>
            <tr>
                <th>开始时间:</th>
                <td><input type="date" name="begin_date"></td>
            </tr>

            <tr>
                <th>结束时间:</th>
                <td><input type="date" name="end_date"></td>
            </tr>
        </table>
        <input class="button" type="submit" value="提交">
    </form>

{% endblock %}