
    {% load display %}

{#            <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"#}
{#                 role="dialog">#}
                <table class="row">
                    <thead>
                    <tr>
                        {% display_open_lab_detail_title this_open_lab.type %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in this_open_lab_detail_list %}

                        <tr>
                        {% ifequal this_open_lab.type '单次' %}
                            {% display_open_one_lab_detail detail %}
                            <td><input class="success button order tiny" type="button" value="预约"/></td>
                        {% else %}
                            {% display_circle_open_lab_detail detail %}
                            <td><input class="order_circle tiny success button" type="button" value="预约"/></td>
                        {% endifequal %}
                        </tr>

                    {% endfor %}
{#                    <td>412</td>#}
{#                    <td>2015-5-14</td>#}
{#                    <td>9：00</td>#}
{#                    <td>12：00</td>#}
{#                    <td>#}
{#                        <button type="button" class="tiny　order">预约</button>#}
{#                        <button type="button" class="tiny" id="refuse">拒绝</button>#}
{#                    </td>#}
                    </tbody>
                </table>

                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
{#            </div>#}
